body{

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(120deg, #550c05, #E61501);
    color: white;

}


#cabecario{

    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 20px;
    margin-bottom: 550px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#container{

    display: flex;
    justify-content: center;
    border: 3px solid black;
    align-items: center;
    width: 900px;
    height: 500px;
    margin-left: 20px;
    margin-top: 60px;
   

}

.btns{


    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
}

#pedra{

    margin-right: 10px;
    background-color: transparent;
    background-image: url("pedra.png");
    background-size: cover;
    width: 80px;
    height: 80px;
    transition: 200ms;

}

#papel{

    margin-right: 10px;
    background-color: transparent;
    background-image: url("papel.png");
    background-size: cover;
    width: 80px;
    height: 80px;
    transition: 200ms;

}

#tesoura{

    background-color: transparent;
    background-image: url("tesoura.png");    
    background-size: cover;
    width: 80px;
    height: 80px;
    transition: 200ms;

}

#player{

    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 260px;
    margin-right: 600px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#cpu{

    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 260px;
    margin-left: 600px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#p1{

    display: flex;
    justify-content: center;
    margin-top: 320px;
    margin-right: 600px;
}

#p2{

    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 320px;
    margin-left: 600px;

}



#pedra:hover{

    transform: scale(1.1);    
    box-shadow: 2px 10px 10px 3px;
    background-color: rgb(175, 12, 12);
    cursor: pointer;
}

#papel:hover{

    transform: scale(1.1);
    box-shadow: 2px 10px 10px 3px;
    background-color: rgb(175, 12, 12);
    cursor: pointer;

}

#tesoura:hover{

    transform: scale(1.1);
    box-shadow: 2px 10px 10px 3px;
    background-color: rgb(175, 12, 12);
    cursor: pointer;

}